@import url('https://fonts.googleapis.com/css?family=Anton|Lato');
* {
  box-sizing: border-box; 
}
body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background: rgb(197, 193, 237);
}
.board {
  min-height: 50px;
  text-align: center;
  background: rgb(197, 193, 237);
}
.btn-primary {
  background-color: #0658b5;
  border-color: #fff;
}
.create-column {
  background-color: #fff;
  color: #6633CC;
}
.table-title {
  padding: 80px;
  font-size: 40px;
}
.button-container {
  margin-bottom: 40px;
  border-radius: 50%;
}
.column {
  margin-right: 50px;
  margin-bottom: 20px;
  background-color: rgb(98, 92, 157);
  color: rgb(40, 34, 104);
  min-height: 100px;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
}
.column-card-list {
  min-height: 50px;
}
.btn-success {
  background-color: #fff;
  color: #0658b5;
  border-color: #0658b5;
}
li {
  background-color: #fff;
  margin: 10px auto;
  list-style: none;
  padding: 20px;
  font-family: 'Lato', sans-serif;
  padding: 10px;
}
ul {
  padding-left: 0px;
}
