@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    text-align: center;
    background-color: #4280f4;
    font-family: 'Lato', sans-serif;
}
main {
    width: 90vw;
    margin: 0 auto;
}
button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;    
    cursor: pointer;
}
a {
    margin: 30px auto;
    text-decoration: none;
    display: block;
    border-radius: 5px;    
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: #1dcaff;
}